ublochat.com.br {
    # Force precedence using 'route' blocks
    route /webhook/* {
        reverse_proxy ublochat_backend:3001
    }
    
    route /webhook-health {
        respond "Caddy OK" 200
    }

    # Catch-all for frontend
    route /* {
        reverse_proxy app_frontend:80
    }
}
